body {
	font-family: "Inter", sans-serif;
}

#city {
	color: blue;
	text-align: right;
	font-size: 70px;
	font-weight: 400;
	margin: 0;
	line-height: 0.8em;
}

#weatherdata {
	color: blue;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#temperature {
	color: blue;
	text-align: left;
	font-size: 70px;
	font-weight: 400;
	margin: 0;
	line-height: 0.8em;
}
.clearfix {
	display: flex;
}
.ul {
	margin: 0px;
	padding: 0px;
}
.weather-app {
	border: 3px solid blue;
	padding: 5px;
	margin: 20px auto;
	border-radius: 3px;
	max-width: 600px;
	height: 200px;
}
.bottom-block {
	padding: 23px 0px;
}
.top-block {
	padding: 5px 0px;
}
.temperature {
	color: blue;
	font-size: 84px;
	font-weight: 400;
}

.units {
	color: blue;
	line-height: 0.8em;
}

#github {
	text-align: center;
	display: block;
	color: blue;
}
.container {
	margin: auto;
	padding: 0px;
}
.row {
	margin: 0px;
}
.col {
	padding: 0px;
	margin: 0px;
}
.windhumidity {
	text-align: right;
}
